<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>泉城是济南的别名，整个广场的设计紧扣“泉”的主题，正中央坐落着钢制雕塑和中间的铁珠构成了篆书“泉”字的造型。
广场东部的荷花音乐喷泉中间是荷花雕像，绕着荷花的喷泉会变幻不同的造型，每场喷泉约30分钟。晚上的喷泉特别好看。
可以坐游船欣赏护城河风光。途径黑虎泉、趵突泉、大明湖等著名景点，每人每站10元，全程100元。
泉城广场地下有银座购物广场，不远就是芙蓉小吃街，傍晚来这里休闲是个不错的选择。</string>
	<string>·为双塔哥特式建筑，建成于1905年，是济南市也是华东地区规模最大的天主教堂，也是中国三大著名天主教堂之一。
·建筑气势宏伟，威严高耸。这样盛大的美和庄严。相比青岛很多的基督教堂、天主教堂绝不有丝毫逊色。
·教堂里面空间很大，四面都有窗户，内部光线充足，午后的阳光穿过，配合着宗教场所的仪式感，有心灵净化之感。</string>
	<string>集水域风光、园林景观、古建筑为一体，被誉为“中国第一泉水湖”。
作为一处天然湖泊，水源来源于城内泉水，有“众泉汇流”之说，历史悠久，最早可以追溯到北魏时期。
这里素有“一阁、三园、三楼、四祠、六岛、七桥、十亭”之说，有著名的明湖16景可以欣赏。
游览大明湖除了步行之外，游船也是不错的选择，泛舟大明湖上，既轻松又不误观光。
北面和南门处还有餐厅，但价格较高，也可前往位于南门外的小吃一条街—芙蓉街，价廉物美。</string>
	<string>济南灵岩寺是国家级风景名胜区和佛教圣地，始建于东晋，距今己有1600多年的历史。
驻足灵岩胜景，你会看到，这里群山环抱、岩幽壁峭；柏檀叠秀、泉甘茶香；古迹荟萃、佛音袅绕。这里不仅有高耸入云的辟支塔，传说奇特的铁袈裟；亦有隋唐时期的般舟殿，宋代的彩色泥塑罗汉像；更有“镜池春晓”、“方山积翠”、“明孔晴雪”等自然奇观。故明代文学家王世贞有“灵岩是泰山背最幽绝处，游泰山不至灵岩不成游也”之说。</string>
	<string>山东大学趵突泉校区即原齐鲁大学校园，始建于1911年，其后又进行了多次扩建和修缮，2000年7月随山东医科大学并入山东大学，称山东大学西校区，2009年5月4日改称趵突泉校区</string>
	<string>趵突泉公园位于济南市中心繁华地段，与济南千佛山、大明湖并称为济南三大名胜。
趵突泉是公园中的主景，泉水分三股，澄澈清洌，昼夜喷涌，水盛时高达数尺。
在趵突泉附近，还散布着金线泉、漱玉泉、洗钵泉、柳絮泉、皇华泉、杜康泉、白龙泉等三十多个名泉，构成了趵突泉泉群。
公园的南大门富丽堂皇、雍容华贵，大门上的横匾“趵突泉”蓝底金字，是清朝乾隆皇帝的御笔，被人誉为中国园林“第一门”。
</string>
	<string>八大关是指以长城八个关口命名的八条马路（现已增为十条），因关内集中了俄、英、法、德、麦等20多个国家建筑风格的别墅，有“万国建筑博览会”之称。
关内花石楼和公主楼最为有名，建筑风格独特，需要收取门票，是来此必打卡地。
除观赏建筑外，还可欣赏八大关四季美景，韶关路全植碧桃，春季开花；正阳关路遍种紫薇，夏天盛开；居庸关路是五角枫，秋季霜染枫红；紫荆关路两侧是成排的雪松，四季常青。</string>
	<string>泰山又名岱山，是中国游览历史最悠久的名山，因气势磅礴为五岳之首，又有“天下名山第一”的美誉。
这里山体雄伟壮观，景色秀丽，被古人视为“直通帝座”的天堂，山上有20余处古建筑群，2200余处碑碣石刻。
泰山也是佛、道两教的胜地，因为两教的庙宇、名胜遍布全山，这些庙宇名胜也成为了泰山的亮点之一。
岱庙泰山最大最完整的古建筑群，主体建筑天贶殿创建于1009年，与故宫太和殿、孔庙大成殿合称我国三大殿。
此外，还有泰山北部有名刹灵岩寺，寺内有建于唐朝的辟支塔，千佛殿以及墓塔林，是价值很高的石文化遗产。</string>
	<string>·青岛最早的军事专用人工码头，是青岛标志性建筑和著名风景游览点。
·南端防波堤内部的八角楼被称为“回澜阁”。伫足于此，可以欣赏到青岛十景之一“飞阁回澜”的震撼场面。
·北侧沿岸被称为“栈桥公园”，园内花草郁郁葱葱，设有石椅供游客休憩，可以欣赏海天风景。 
</string>
	<string>山东半岛的主要山脉，也是中国海岸线第一高峰，有“泰山虽云高，不如东海崂”之称。
七个游览区：巨峰（日出）、流清、太清（道观）、棋盘石（佛教）、仰口（觅天洞及华严寺）、北九水（峡谷风貌）、华楼（花岗岩叠石风貌）。
游览南线是流清河和垭口；东线是仰口；中线是北九水。走水路在太清湾登陆的游客，主要游览太清和上清景区。
崂山十二景有巨峰旭照、太清水月、海峤仙墩、华楼叠石、九水明漪等，各有特色，极富盛名。
崂山风景区每年四月举办崂山登山节；每年五月举办崂山樱桃会， 届时游人众多，十分热闹。 </string>
	<string>长岛位于辽东半岛与山东半岛之间，素有“海上仙境”之称。长岛无岛不秀，无岛不奇，是一处天然的海上大花园。
由32个岛屿组成，但岛上主要景点主要集中在北长山岛（北线）和南长山岛（南线）上。
这里分布着礁石、悬崖、沙滩、树林，著名的景点是月牙湾公园、九丈崖、庙岛天后庙等。
来长岛游玩的游客一定要先从蓬莱码头坐船上岛，想要真正体验长岛的风情还是建议在岛上住上一晚。</string>
	<string>930年建成，原名“圣弥厄尔教堂”，是青岛市区最大的罗马式建筑，也是中国唯一的祝圣教堂。
·由德国设计师毕娄哈，依据哥德式和罗马式建筑风格设计而成。
·整体为砖石双塔建筑，两侧高耸尖峙的塔楼高56米，各设有高4.5米的尖顶十字架塔，内有四口大钟。 
·教堂内宽敞明亮，大厅高18米，两旁走廊立着两个供神甫接待信徒忏悔告解用的告解亭。 
·教堂中有一架从德国进口价值不菲的管风琴，只有在主日弥撒时才会奏响。
</string>
	<string>台儿庄为山东省枣庄市辖区，地处苏鲁两省交界处，历来为兵家、商家必争之地。1938年春，发生在此的台儿庄大战，歼敌万余人，英雄的台儿庄被誉为“中华民族扬威不屈之地”。台儿庄古城，又称运河古城，既是民族精神的象征、历史的丰碑，也是运河文化的承载体，至今仍保留有不少的遗存，被世界旅游组织誉为“活着的运河”。

</string>
	<string>威海市位于山东半岛东端，是一个美丽的海滨花园城市，花满街、树成荫，宁静、整洁的市容环境，使这里成为中国最适宜居住的城市之一。依山傍海的地理位置使威海海岸线绵长，海风吹动松涛；甲午中日战争使威海成为中国历史上“不沉的战舰”；与韩国的长期的贸易交流，使威海浸透着韩国的国际气息。沙滩美梦，海鲜美食，韩流时尚，这座小小的城市里收集了关于度假、美食、购物的一切梦想。</string>
	<string>烟台市地处山东半岛东部，以“山海仙境·葡萄酒城”的美誉著称于世。
这里依山傍海，烟波浩淼，可谓人间瑶台。变幻莫测的海象、海市蜃楼的奇观、八仙过海的神话、徐福东渡的故事、秦始皇射鲛的传说为烟台的山山水水增添了许多神秘的色彩。近代开埠时期留存的深厚中西方文化积淀，更是形成了中西合璧、独具特色的美丽海滨风情，使烟台成为闻名遐迩的滨海生态旅游观光和休闲度假胜地。</string>
	<string>“千年礼乐归东鲁，万古衣冠拜素王”东鲁即曲阜，素王即孔子。曲阜之所以享誉全球，是与孔子的名字紧密相连的。孔子是世界上最伟大的哲学家之一，中国儒家的创始人。在两千多年漫长的历史长河中，儒家文化逐渐成为中国的正统文化，并影响到东亚和东南亚各国，成为整个东方文化的基石。</string>
</array>
</plist>
